// General Variables
$grey: #f4f4f4;
$white: #fff;
$yellow: #e8b007;
$yellow-hover: #efbe29;
$blue: #172f41;
$blue-overlay: rgba(23,47,65,0.9);
     
$base-color: #213c50;
$secondary-color: #be181b;

$base-font-color: #939ea7;
$dark-bg-font-color: #a9b3bb;

$base-font: 'Roboto', sans-serif;
$heading-font: 'Roboto Condensed', sans-serif;

$graphics-dir-path: '/graphics/' !default;
$fonts-dir-path: '/fonts/' !default;