<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Auckland Rescue Helicopter Trust</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <link rel="shortcut icon" href="==favicon_path==">
    <style type="text/css">
        .container{
            max-width: 1170px;
            margin: 0 auto;
            text-align: center;
        }
        .logo{
            margin: 50px auto;
        }
        .logo img{
            max-width: 290px;
        }
        .message{
            color: red;
            font-size: 17px;
            line-height: 20px;
            padding: 0 20px;
        }
    </style>
</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="logo">
                        <img src="/graphics/logo.png">
                    </div>
                    <div class="message">
                        ==emergency_mode_msg_view== 
                    </div>              
                </div>
            </div>
        </div>
    </section>
</body>
</html>