<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>==title==</title>
    <meta name="description" content="==mdescr==">
    ==ex_meta_taga==
    <meta name="author" content="==company==">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta property="og:title" content="==og_title=="/>
    <meta property="og:description" content="==mdescr=="/>
    <meta property="og:url" content="==og_url=="/>
    <meta property="og:image" content="==og_image=="/>
    <meta property="og:site_name" content="==company=="/>
    
    <link rel="shortcut icon" href="==favicon_path==">
    <link rel="stylesheet" href="==css_path==">
    <script  src="==modernizr_path=="></script>
    ==js_code_head_close==
</head>
<body ==body_cls==>
    ==js_code_body_open==
    
    <header id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 hidden-md hidden-lg mobile-menu">
                   <span id="mobile-btn" class="mobile-btn">
                       <i class="fa fa-bars"></i>
                   </span>
                   <span class="btn btn--red mobile-donate-btn" id="mobile-donate-btn"><i class="fa fa-usd"></i>Donate</span> 
                </div>
            </div>
            <div class="row">
                <div class="nav-header col-md-3 col-lg-3">  
                    <a href="/" class="logo">
                        <img src="/graphics/logo.png">
                    </a>
                </div>

                <nav class="main-menu col-md-6 col-lg-6" id="main-menu">
                    <span class="close-btn hidden-md hidden-lg"><i class="fa fa-close"></i></span>
                    ==nav-main==                    
                </nav>    

                <div class="col-md-3 col-lg-3 hidden-sm hidden-xs text-center">
                    <span class="btn btn--red donate-btn" id="donate-btn"><i class="fa fa-usd"></i>Donate</span>
                </div>            
            </div>          
        </div>

        ==donation-nav==
        
    </header>

    <section class="main-slider">
        ==slideshow_view==
    </section>

    <section class="section section--grey-bg" id="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        ==heading-view==                    
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-push-2 text-center">
                    ==introduction-view==
                    
                </div>                
            </div>
        </div>
    </section>
    ==content==

    ==mod_view==   
    
    ==team-view==

    ==stories-section== 

    ==sponsors-section==    
    
    ==achievements==

    <footer class="footer"> 
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                    ==newsletter==
                    
                </div>
                <div class="col-md-9">
                    <div class="row">
                        ==contact-details==                          
                    </div>

                    ==websitecredits==
                    
                </div>
            </div>

            <div class="row">
                <nav class="footer__nav col-md-12">
                    ==footer_nav==

                    ==social==


                </nav>                
            </div>
        </div>
    </footer>

    ==body_html==
    ==modal==
    ==scripts-load-top==
    ==jsVars==
    <script src="==vender_js_path=="></script>
    ==script-ext==
    <script async src="==js_path==" onload="app.init();"></script>
    ==js_code_body_close==
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyDiVuMjL4G8xosV44xeSRtMKMoVh7kd_x0&libraries=places"></script>
</body>
</html>